<header class='nav'>
  <nav class='nav-menu'>
    <a href='{{ absURL "" }}' class='nav-brand nav_item'>{{ .Site.Title }}</a>
      <a href="http://eepurl.com/gx1WCD" class='nav-item'>Subscribe</a>
    <div class='nav_bar-wrap'>
      <div class='nav_bar'></div>
    </div>
  </nav>
</header>
<script type="text/javascript">
  function duckSearch() {
    var searchField = document.getElementById("searchField");
    if (window.location.hostname == "localhost") {
      alert("Running on localhost not a proper domain so cannot search via duckduckgo.com");
      return;
    }
    if (searchField && searchField.value) {
      var site = "{{ .Site.BaseURL }}";
      var query = escape("www.hennessysview.com" + searchField.value);
      window.location.href = "https://duckduckgo.com/?q=" + query;
    }
  }
</script>