<div class = 'nav-drop'>
  <div class = 'nav-body'>
   <div class="search-div">
      <form onsubmit="duckSearch()" action="javascript:void(0)">
        <input id="searchField" type="text" value="" placeholder="Search...">
    </form>
    </div>
    {{- range .Site.Data.menu }}
      <a href = '{{ absURL .url }}' class = 'nav_item'>{{ .item }}</a>
    {{- end }}
    <div class = 'nav-close'></div>

  </div>
</div>
{{- partial "header" . }}
<script type="text/javascript">
  function duckSearch() {
    var searchField = document.getElementById("searchField");
    if (window.location.hostname == "localhost") {
      alert("Running on localhost not a proper domain so cannot search via duckduckgo.com");
      return;
    }
    if (searchField && searchField.value) {
      var site = "{{ .Site.BaseURL }}";
      var query = escape("www.hennessysview.com" + searchField.value);
      window.location.href = "https://duckduckgo.com/?q=" + query;
    }
  }
</script>
<style>
  input[type=text], select {
  width: 95%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.search-div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

  </style>