<form class="form" onsubmit="myFunction(searchboxid); return false;" >
    <input type="search" id="searchboxid" placeholder="Search" />
    <button class="app_action_btn" type="submit">Go</button>
  </form>

  <script language="javascript">
    function myFunction(searchboxid) {
    if (window.location.hostname == "localhost") {
    console.log( "Running on localhost not a proper domain so cannot search via duckduckgo.com" );
    return;
    }
    var q = document.getElementById('searchboxid').value;
    q = encodeURIComponent( q );
    // var site = "rv1.tech";
    var site = "{{ .Site.BaseURL }}" ;
    var url  = "https://duckduckgo.com?q=" + q + "+site:" + site; 
    console.log( url );
    window.open(url, "_self");
    }
  </script>

<style type="text/css">
    .form input, .form textarea {
      width: 205px;
      padding: 10px;
      border: none;
      border-radius: 6px;

      background-color: beige;
      outline: none;
      font-size: 12px;
    }
    .form div {
      margin: 20px;
    }
    .app_action_btn {
      background: #4d7ef7;
      border-radius: 6px;
      color: #fff;
      padding: 10px 10px;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: bold;
      width: 50px;
      border: none;
      cursor: pointer;
    }
    </style>